errbot

# xmpp
slixmpp
pyasn1
pyasn1-modules

raven
sentry-sdk

# sentry-sdk dependency
blinker

# resolve error dependency from launchpadlib 1.10.13
testresources

cryptography>=39.0.1

setuptools>=65.5.1
